
#loading img {
    width: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 25px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.bar {
    font-size: 17px;
    color: #B6B6B4;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100%;
    height: 100%;
}

#nav-conatiner {
    z-index: 100;
    margin: 0 0 0 0px;
}

    #nav-conatiner .nav {
        background-color: #fff;
        border: 1px #B6B6B4 Solid;
        padding: 0px 10px 0;
    }

/*.destination_style {
    border-bottom: 1px solid #B6B6B4;
    border-bottom-left-radius: 10px;
    border-left: 1px solid #B6B6B4;
    border-right: 0 none #FFF;
    border-top: 1px solid #B6B6B4;
    border-top-left-radius: 10px;
    float: left;
    font-size: 10pt;
    height: 30px;
    margin-top: .2cm;
    padding: 2px;
    width: 600px;
}

.image_style {
    background: #EEE url("Images/google-remove.png") no-repeat 24px 24px;
    background-position: 6px 6px;
    background-color: white;
    background-size: 20px 20px;
    border: 0;
    border-bottom: 1px solid #B6B6B4;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #B6B6B4;
    border-top: 1px solid #B6B6B4;
    border-top-right-radius: 10px;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 30px;
    margin-top: .2cm;
    width: 10%;
}*/

.map-container {
    padding: 0;
    height: 50%;
}

.angular-google-map,
.angular-google-map-container {
    padding: 0;
    height: 100%;
}

.icon {
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

.showdate {
    border:none;
    font-weight:bold;
    padding-left: 10px;
}

.delete {
    width:23px;
    vertical-align: middle;
    align-content: right;
    margin-top: 10px;
    margin-left: -15px;
}


    .icon:hover {
        opacity: 0.7;
    }

hr {
    border-bottom: 1px solid #d7d7d7;
    margin: 0 -15px;
}

.waypoint {
    background-color: #fff;
    background-image: none;
    border: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 44px;
    line-height: 1.42857;
    padding: 6px 12px;
    width: 100%;
}

    .waypoint.any {
        border-bottom: 1px solid #dbdbdb;
    }

    .waypoint.last {
        border: none;
    }

.search-button {
    height: 28px;
    background: url('/Content/Images/search.png') 50% 50% no-repeat #4D90FE;
    border: none;
}
.temperature{
    width:35px;
    vertical-align: middle;
    align-content: right;
    margin-top: -10px;
    margin-left: 2px;
}

.bubblebox{
    background-color:rgba(255,0,0,0.5);
}

.description{
    font-size: 110%;
    position:relative;
    bottom: 1px;

}

.celsius{
     font-size: 100%;
     position: relative;
     bottom: 13px;
}
    .search-button:hover {
        background-color: #2c73e8;
    }
    .desc{
        font-size: 30px;
    }

.collapse-button {
    height: 28px;
    border: none;
    background: url('/Content/Images/arrow-up.png') no-repeat;
    padding: 13px 15px;
}

    .collapse-button .glyph
     {
        padding: 0 10px;
    }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

