html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#loading img {
    width: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 25px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.bar { font-size: 17px; color:#B6B6B4;}

html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#container { width: 100%; height: 100% }
#nav { z-index: 100; position: absolute; 
       margin: 10px 0px 0px 90px; background-color: #fff; 
       border: 1px #B6B6B4 Solid; padding: 5px; 
}
#map { width: 100%; height: 100% }

.destination_style {
    border-bottom: 1px solid #B6B6B4;
    border-bottom-left-radius: 10px;
    border-left: 1px solid #B6B6B4;
    border-right: 0 none #FFF;
    border-top: 1px solid #B6B6B4;
    border-top-left-radius: 10px;
    float: left;
    font-size: 10pt;
    height: 30px;
    margin-top: .2cm;
    padding: 2px;
    width: 600px;
}

.image_style {
    background: #EEE url("Images/google-remove.png") no-repeat 24px 24px;
    background-position: 6px 6px;
    background-color: white;
    background-size: 20px 20px;
    border: 0;
    border-bottom: 1px solid #B6B6B4;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #B6B6B4;
    border-top: 1px solid #B6B6B4;
    border-top-right-radius: 10px;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 30px;
    margin-top: .2cm;
    width: 10%;
}