@media screen and (min-width: 768px) {
    .icon {
        width: 40px;
        height: 40px;
        padding: 5px;
    }

    .search-button {
        height: 35px;
    }

    .waypoint {
        height: 40px;
    }

    .map-container {
        height: 100%;
    }

    #nav-conatiner {
        z-index: 100;
        margin: 0 30px;
    }
}

@media screen and (min-width: 400px), screen and (max-height: 528px) {
    #nav-conatiner {
        margin-left: 80px;
    }
}
