<div id="container" ng-controller="MapController">
    <div id="nav-conatiner" class="navbar-fixed-top col-xxs-9 col-xs-5 col-sm-4 col-md-3 col-lg-2-3">     
            <div class="nav">
                <div class="container-fluid">
                    <div class="row">
                        <input type="image" class="icon" ng-src="{{mode == 'DRIVING' ? '/Content/Images/google-car-selected.png' : '/Content/Images/google-car.png'}}" value="DRIVING" ng-click="changeMode('DRIVING')">
                        <input type="image" class="icon" ng-src="{{mode == 'WALKING' ? '/Content/Images/google-person-selected.png' : '/Content/Images/google-person.png'}}" value="WALKING" ng-click="changeMode('WALKING')">
                        <input type="image" class="icon" ng-src="{{mode == 'BICYCLING' ? '/Content/Images/google-bike-selected.png' : '/Content/Images/google-bike.png'}}" value="BICYCLING" ng-click="changeMode('BICYCLING')">
                        <span class="bar">|</span>
                        <input type="image" class="icon" src="~/Content/Images/calendar-time.png" datetimepicker="{step: 60, minDate: 0, maxDate: '+1970/01/15', roundTime: 'ceil'}" ng-model="dateTime">
                        <span class="bar">|</span>
                        <button class="collapse-button" ng-click="isCollapsed = !isCollapsed"></button>
                    </div>
                    <div collapse="isCollapsed" ng-cloak>
                        <hr />
                        <div class="row" ng-repeat="waypoint in waypoints track by $index">
                            <div class="col-xs-9 col-sm-10-11">
                                <input type="text" class="waypoint" ng-class="$last ? 'last' : 'any'" ng-model="waypoints[$index]" ng-autocomplete />
                            </div>
                            <div class="col-xs-1 col-sm-1">
                                <input ng-show="waypoints.length > 2" type="image" class="delete" src="~/Content/Images/google-remove.png" ng-click="removeWaypoint($index)">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="image" class="icon col-xs-6" src="~/Content/Images/google-add.png" ng-click="addWaypoint()">
                            </div>
                            <div class="col-xs-6 text-right">
                                <img class="icon" ng-show="loading" src="~/Content/Images/loader.gif" />
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button id="submit" class="search-button col-xs-4 text-right" type="submit" ng-click="getDirections()"></button>
            </div>
        </div>
    </div>

    <div class="map-container col-sm-8 col-xs-12">
        <ui-gmap-google-map events="map.events" center='map.center' zoom='map.zoom' control="map.control">
            <ui-gmap-marker coords="marker.coords" icon="marker.icon" idkey="marker.id" options="marker.options" click="showWindowClick(marker.id)" events="marker.events" ng-repeat="marker in markers">
                <ui-gmap-window options="windowOptions[marker.id]" closeclick="closeWindowClick(marker.id)" ng-cloak class="bubblebox">
                    <p style="white-space: nowrap; text-align:center;">
                        <input type="image" class="temperature" src="~/Content/Images/temperature.png">
                        <strong class="desc">{{marker.message.Temperature}}</strong><strong class="celsius">°C</strong><br />
                        <strong class="description">{{marker.message.Description}}</strong><br />
                        <em>Date: {{marker.message.DateTime | date: 'shortDate'}}</em><br />
                        <em>Time: {{marker.message.DateTime | date: 'shortTime'}}</em><br />
                    </p>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <div class="col-sm-4 col-xs-12" ng-cloak>
        <view-marker markers="markers"></view-marker>
    </div>
</div>
